<!DOCTYPE HTML>
<html>
<head>
  <title>About Page</title>
</head>

<body>
  {{> innerHeader}}
  <h2>{{message}}</h2>
  <h3><em>BioLife</em></h2>
  <p>This is the collective information for every place to be seen</p>
  {{> footer}}
</body>
</html>
